.last-episodes{
    background-color:#ffff;
    position: relative;
    width: 98%;
    margin: 0 auto;
    color: #707070;
}

.episode-list-search{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 98%;
    margin: auto;
    justify-content: center;
}


